#github {
    width: 11rem;
    height: 4.5rem;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 5%;
    color: var(--white);
    border-color: var(--orange);
}
#github:hover{
    background-color: var(--orange);
    color: var(--black);
}
#youtube {
    display: block;
    width: 11rem;
    height: 4.5rem;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--white);
    border-color: #d40909;
    margin: 5%;
}
#youtube:hover{
    background-color: #d40909;
    color: var(--white);
}

#linkedin {
    width: 11rem;
    height: 4.5rem;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 5%;
    color: var(--white);
    border-color: var(--blue);
}
#linkedin:hover{
    background-color: var(--blue);
    color: var(--white);
}

@media screen and (min-width: 768px) {
    #github {
        color: var(--white);
    }
    #linkedin {
        color: var(--white)
    }
    #github:hover {
        color: var(--black);
    }
    #linkedin:hover {
        color: var(--black)
    }
    #youtube {
        display: none;
    }

}