#about{
    height: 90vh;
    max-width: 100vw;
    width: 100vw;
    overflow: scroll;
    padding: 10px auto;
    margin: 0 auto;
    align-self: center;
    justify-self: center;
    background: url("../../imgs/astronaut.png") no-repeat center/cover;

}
#text-container {
    height: 90vh;
    width: auto;
    backdrop-filter: blur(0.5px); 
    color: var(--white);
    font-size: 2.5rem;
    text-align: left;
    font-weight: 500;
    padding: 2rem 1rem;
    background: rgba(27, 27, 27, 0.4);
}

#text-container p {
    margin: 12% 0;
}

#last-sentence {
    padding-bottom: 400px;
}

