#contact{
    min-height: 90vh;
    width: 100vw;
    background: url('../../imgs/saturno.png') no-repeat center/cover;
    background-size: 55vh;
    padding: 10px 0px 0px 0px;
    max-width: 100vw;
    height: fit-content;
}

#contact-info{
    background-size: 100vw 100vh;
    height: fit-content;
    width: 90vw;
    color: var(--white);
    text-align: left;
}

#button-container {
    text-align: center;
    height: fit-content;
    width: 100%;
    border: solid white 1px;
    margin-bottom: 500px;
}

#text-container {
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 250px;
}

#text-container p{
    font-size: 2rem;
    margin: 4% 0;
    font-weight: 400;
}

#text-container h2 {
    font-size: 2.5rem;
    color: var(--orange);
}
#email-form {
    color: var(--black);
    font-size: 2rem;
}

#email, #message {
    height: fit-content;
    width: 95%;
    font-size: 2rem;
    min-height: 65px;
    padding: 5% 2% 0% 2%;
}
#message{
    height: 120px;
}
#submit {
    min-height: 40px;
    font-size: 2rem;
    width: 90px;
}
#lat-row {
    padding-bottom: 500px;
}
.modal {
    color: var(--white);
    font-size: 2rem;
    font-weight: 400;
}
.modal-header {
    background-color: var(--blue);
    text-align: center;
    font-weight: 600;
}
.modal-body{
    background-color: var(--blue);
}

@media screen and (min-width: 768px) {
    #contact{
        background-size: 60vw;
    }
    #email-form {
        margin-top: 5%;
    }
    #contact-info{
        width: 75vw;
        height: 50vh;
        max-height: 100vh;
        max-width: 100vw;
        align-self: center;
        justify-self: center;
        margin: 5%;
        padding-bottom: 0;
    }
    #text-container h2{
        font-size: 3rem;
        font-weight: 700;
    }
    #text-container{
        overflow-y: hidden;
    }
    #text-container p {
        font-size: 3rem;
        font-weight: 400;
    }
}