
#navbar {
    border: none;
    background: rgba(27, 27, 27, 0.8);
    backdrop-filter: blur(2px);
    border-radius: 5px;
    color: var(--white);
    margin-top: 1vh;
}
.navbar-toggler {
    color: var(--white);
}
#icon {
    height: auto;
    width: 10vw;
    color: var(--white);
}



.navLinkAct {
    color: var(--orange);
    text-decoration: none;
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem 0;
}
.navLink {
    color: var(--white);
    text-decoration: none;
    font-size: 4rem;
    font-weight: 500;
    padding: 1rem 0;
}
.navLink:hover{
    color: var(--orange);
}
#basic-navbar-nav a:hover{
    color: var(--orange);
}


@media screen and (min-width: 768px) {
    #navbar{
        width: 10vw;
        height: 10vw;
        transform: rotate(-90deg);
        background: none;
        backdrop-filter: none;
        background-size: 0;
        position: relative;
        top: 68vh;
    }

    .navLink {
        margin: 0 2rem;
        font-weight: 100;
    }
    .navLinkAct {
        margin: 0 2rem;
        font-weight: 500;
    }
    
}