#work {
    height: 90vh;
    width: 100vw;
    text-align: left;
    background: url('../../imgs/moon.png') no-repeat center/cover;
    background-size: 150vw;
    max-width: 100vw;
}

#blur {
    background: rgba(27, 27, 27, 0.3);
    backdrop-filter: blur(0.5px);
    height: 90vh;
    width: 95vw;
    overflow: scroll;
    padding: 7% 5% 200px 5%;
}

#name {
    height: 10%;
}
#blur h1{
    font-size: 3rem;
    color: var(--orange);
}
#blur p {
    font-size: 2rem;
}
#blur a {
    margin: 5%
}

#githubButton {
    margin: 10% 0;
    text-align: center;
}



@media screen and (min-width: 768px) {
    #work{
        max-height: 100vh;
        height: 100vh;
        background-size: 50vw;
        overflow-y: hidden;
        padding: 0;
        margin: 0;
    }
    #blur {
        height: 100vh;
        max-height: 100vh;
        overflow-x: hidden;
    }

}